:root {
    --primary-color: #6B92DB;
    --left-color: #5D3891;
    --right-color: #F99417;
    --btn-color: #674188;
    --border-color: #f1c40f;
    --font-primary: monospace;
    --font-secondary: Arial;
    --border-input: #9b9b9b;
}

body {
    background: linear-gradient(to right, var(--left-color)
    , var(--right-color));
    font-family: var(--font-primary);
    color: white;
}

h1 {
    text-align: center;
    color:white;
    font-family: var(--font-primary);
}

.container {
    height: 2rem;
    margin: 0 auto;
    padding-top: 1rem;
}

.search-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.search-label {
    margin-bottom: 10px;
}

.search-input {
    background-color: var(--left-color);
    color: white;
    border: 0;
    border-bottom: 2px solid var(--border-input);
    background: transparent;
    outline: 0;
    padding: 10px;
    width: 20%;
}

.search-input::placeholder{
    color: whitesmoke;
}

button {
    margin: 20px;
    padding: 1.2em 2.8em;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: transparent;
    border: 1px solid;
    border-radius: 0.6em;
    cursor: pointer;
}

.search-button {
    margin-top: 10px;
    border-color: var(--border-color);
    background-image: -webkit-linear-gradient(45deg, var(--right-color) 40%, transparent 40%);
    background-image: linear-gradient(45deg, var(--right-color) 40%, transparent 40%);
    background-position: 100%;
    background-size: 400%;
    text-transform: uppercase;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.search-button:hover {
    background-position: 0;
}

.result-div, .error-div {
    text-align: center;
}