:root {
    --primary-color: #6B92DB;
    --left-color: #5D3891;
    --right-color: #F99417;
    --btn-color: #674188;
    --search-border-color: #f1c40f;
    --back-border-color:#5D3891;
    --details-border-color: #eee;
    --details-text-color: gray;
    --font-primary: monospace;
    --font-secondary: Arial;
    --border-input: #9b9b9b;
    --placeholder-color: #d9d9d9;
    --surface-color: #fff;
    --curve: 40;
    --card-color: #eee;
    --span-color: rgb(190, 167, 167);
    --img-background: #fff;
}

body {
    background: linear-gradient(to right, var(--left-color)
    , var(--right-color));
    font-family: var(--font-primary);
    color: white;
    font-size: 10px;
}

h1 {
    text-align: center;
    color:white;
    font-family: var(--font-primary);
}

.container {
    height: 2rem;
    margin: 0 auto;
    padding-top: 1rem;
    text-align: center;
}

.search-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.search-label {
    margin-bottom: 10px;
}

.search-input {
    background-color: var(--left-color);
    color: white;
    border: 0;
    border-bottom: 2px solid var(--border-input);
    background: transparent;
    outline: 0;
    padding: 10px;
    width: 250px;
}

.search-input::placeholder{
    color: var(--placeholder-color);
}

button {
    margin: 20px;
    padding: 1.2em 2.8em;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: transparent;
    border: 1px solid;
    border-radius: 0.6em;
    cursor: pointer;
}

.search-button {
    margin-top: 10px;
    border-color: var(--search-border-color);
    background-image: -webkit-linear-gradient(45deg, var(--right-color) 40%, transparent 40%);
    background-image: linear-gradient(45deg, var(--right-color) 40%, transparent 40%);
    background-position: 100%;
    background-size: 400%;
    text-transform: uppercase;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.search-button:hover {
    background-position: 0;
}

.back-button {
    margin-top: 10px;
    border-color: var(--back-border-color);
    background-image: -webkit-linear-gradient(45deg, var(--left-color) 40%, transparent 40%);
    background-image: linear-gradient(45deg, var(--left-color) 40%, transparent 40%);
    background-position: 100%;
    background-size: 400%;
    text-transform: uppercase;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.back-button:hover {
    background-position: 0;
}


.result-div, .error-div {
    text-align: center;
}

.result-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 0 2rem 4rem;
    padding: 0;
    list-style-type: none;
}

.card-div {
    position:relative;
    display: block;
    overflow: hidden;
    text-decoration: none;
    height: 100%;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--card-color);
    box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.5);
}

.img-div img {
    background: var(--img-background); 
    margin-top: 2rem; 
    width: 30%;
    border-radius: 50%;
}

.body-div {
    margin-top: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
}

.body-div .span{
    background:var(--span-color);
    padding: 5px 10px;
    border-radius: 10px;
}

.body-div .title {
    color: black;
    font-size: 2em;
    font-weight: 600;
    margin: 0 0 .3em;
}

.body-div .type {
    color: black;
}

.body-div .details-button {
    margin-top: 10px;
    border-color: var(--details-border-color);
    background-image: -webkit-linear-gradient(45deg, var(--span-color) 40%, transparent 40%);
    background-image: linear-gradient(45deg, var(--span-color) 40%, transparent 40%);
    background-position: 100%;
    color: var(--details-text-color);
    background-size: 400%;
    text-transform: uppercase;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.body-div .details-button:hover {
    background-position: 0;
    color: black;
}

.container-details {
    box-shadow: 0 15px 30px 1px grey;
    color:black;
	background: var(--card-color);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 30em;
	width: 60em;
}

.card-details {
    position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;
}

.card-details h2 {
    display: inline-flex;
    text-align: center;
    position: relative;
    font-size: 20px;
}